<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
</head>
<body>

<div id="app"></div>

<script type="text/babel">

    function sendRequest(method, url) {
        let request = new XMLHttpRequest();
        request.onreadystatechange = function () { // 状态发生变化时，函数被回调
            if (request.readyState === 4) { // 成功完成
                // 判断响应结果:
                if (request.status === 200) {
                    // 成功，通过responseText拿到响应的文本:
                    console.log('send successfully')
                } else {
                    console.log('send failed')
                }
            }
        }
        request.open(method, url)
        request.send()
    }

    const App = () => {

        const [mode, setMode] = React.useState('auto')

        const onModeChange = (e) => {
            console.log(`change mode to ${e.target.value}`)
            setMode(e.target.value)
            sendRequest('POST', '/mode/' + mode)
        }

        const requestShoot = (e) => {
            console.log('click button')
            sendRequest('POST', '/shoot')
        }

        const requestAngleChange = (e) => {
            const angle = e.target.value
            if (angle < 0 || angle > 180) {
                console.log('angle out range!')
                return
            }
            console.log(`angle: ${angle}`);
            sendRequest('POST', '/angle/' + angle)
        }

        return (
            <div className="container">
                <div className="row">
                    <h1>投石机控制器</h1>
                </div>
                <br/>
                <br/>
                <div className="row">
                    <div className="col-2">
                        <h3>模式选择：</h3>
                    </div>
                    <div className="col-4">
                        <select className="form-select" aria-label="Default select example" onChange={onModeChange}>
                            <option value="auto" defaultValue>自动模式</option>
                            <option value="voice">声控模式</option>
                            <option value="manual">手动模式</option>
                        </select>
                    </div>
                </div>
                {mode === 'manual' ?
                    (
                        <div className="container">
                            <br/>
                            <div className="row">
                                <div className="col-2">
                                    <h4>角度：</h4>
                                </div>
                                <div className="col-auto">
                                    <input type="number" className="form-control"
                                           aria-describedby="angle"
                                           placeholder={'Angle'}
                                           onChange={requestAngleChange}
                                    />
                                </div>
                                <div className="col-4">
                                    <button type="button" className="btn btn-primary col-2" onClick={requestShoot}>发射
                                    </button>
                                </div>
                            </div>
                        </div>
                    ) : null
                }
            </div>
        )
    }

    ReactDOM.render(<App/>, document.querySelector('#app'));
</script>
</body>
</html>